html, body {
  height:100%;
  margin:0; 
  padding:0; 
}

.navbar {
  background-color: white;
  margin-bottom: 0px;
}

.navbar .navbar-nav > li > a {
  color: black;
}

.navbar .navbar-nav > li > a:hover {
  color: steelblue;
}

.navbar .navbar-nav > .active > a {
  color: black;
}

.navbar .navbar-nav > .active > a:hover {
  color: steelblue;
}

.navbar .navbar-brand {
  color: black;
}

.navbar .navbar-brand:hover {
  color: steelblue;
}

.navbar-toggle {
  background-color: #888888;
}

.navbar .navbar-toggle:focus, .navbar .navbar-toggle:hover {
  background-color: #555;
}

.container-full {
  padding: 0;
  width: 100%;
  height: 100%;
}

.fill-height {
  height: 100vh;
  background-color: lightblue;
}

/**
 * Analysis Graph
 */
.analysis-container {
  background-color: steelblue;
  padding-top: 2%;
  border-top: 2px solid #777;
  border-bottom: 1px solid #f8f8f8;
}

.analysis-title {
  color: white;
}

.rickshaw-container {
  padding-bottom: 3%;
}

/**
 * Graph Widgets
 */
.graph-widget {
  background-color: white;
}

.widget-font {
  color: steelblue;
}

.status-code-status {
  color: steelblue;
  font-weight: bold;
  margin: 0;
}

.status-code-icon {
  color: steelblue;
}

.is-live-text {
  color: steelblue;
  font-weight: bold;
  margin: 0;
}

.chart-bpm {
  color: steelblue;
  font-weight: bold;
  margin: 0;

}

.bpm-icon {
  color: steelblue;
}

.square {
  float:left;
  position: relative;
  width: 30%;
  padding-bottom : 30%; /* = width for a 1:1 aspect ratio */
  margin:1.66%;
  overflow:hidden;
}
.content {
  position:absolute;
  height:100%; /* = 100% - 2*10% padding */
  width:100%; /* = 100% - 2*5% padding */
  padding: 10% 5%;
}

.violet {
  background-color: #F5C0FF;
}

.teal {
  background-color: #00FFE5;
}

.orange {
  background-color: #FFBD7C;
}

/**
 * Extra Small Devices (Mobile / Global styles should be above this line)
 */
@media(max-width:480px) {

  .analysis-title {
    font-size: 2em; 
  }

  .widget-container {
    padding-top: 8%;
    padding-bottom: 50%;
  }

  .widget-font {
    font-size: 0.6em;
  }

  .status-code-status {
    font-size: 3em;
    padding-top: 10%;
  }

  .status-code-icon {
    font-size: 1em;
  }

  .is-live-text {
    font-size: 1.2em;
    font-weight: bold;
    line-height: 1.5em;
    padding-top: 10%;
  }

  .chart-bpm {
    font-size: 3em;
    padding-top: 10%;
  } 

  .bpm-icon {
    font-size: 1em;
  }

}

/**
 * Edge Cases and Landscape Views
 */
@media(min-width:481px) {
  .widget-container {
    padding-top: 5%;
  }

  .status-code-status {
    font-size: 3.5em;
    padding-top: 12%;
  }

  .status-code-icon {
    font-size: 1.3em;
    padding: 2%;
  }

  .is-live-text {
    font-size: 1.5em;
    font-weight: bold;
    line-height: 1.5em;
    padding-top: 12%;
  }

  .chart-bpm {
    font-size: 3.5em;
    padding-top: 12%;
  } 

  .bpm-icon {
    font-size: 1.3em;
    padding: 2%;
  }
}

/**
 * Small Devices (Tablets, 768px and up)
 */
@media(min-width:768px) {

  .widget-container {
    padding-top: 2%;
    padding-left: 5%;
    padding-right: 5%;
  }

  .widget-font {
    font-size: 1.2em;
  }

  .status-code-status {
    font-size: 5em;
    padding-top: 13%;
  }

  .status-code-icon {
    font-size: 1.7em;
  }

  .is-live-text {
    font-size: 2.7em;
    padding-top: 13%;
  }

  .chart-bpm {
    font-size: 5em;
    padding-top: 13%;
  }

  .bpm-icon {
    font-size: 1.7em;
  }

}

/**
 * Medium Devices (Laptops, 992px and up)
 */
@media(min-width:992px) {

  .widget-container {
    padding-top: 3%;
    padding-left: 8%;
    padding-right: 8%;
  }

  .status-code-status {
    font-size: 6em;
    padding-top: 13%;
  }

  .status-code-icon {
    font-size: 2em;
    padding: 2%;
  }

  .is-live-text {
    font-size: 3.7em;
    padding-top: 13%;
  }

  .chart-bpm {
    font-size: 6em;
    padding-top: 13%;
  }

  .bpm-icon {
    font-size: 2em;
    padding: 2%;
  }

}

/*                                         
/* Large Devices (Desktops, 1200px and up) 
*/
@media(min-width:1200px) {

  .widget-container {
    padding-top: 0;
    padding-left: 15%;
    padding-right: 15%;
  }

}








