html {
  resize: none;
}

body {
  overflow: auto;
  background-color: white;
}

.hidden {
  display: none;
}

.back-landing {
  color: black;
  text-decoration: none;
}

.back-landing:hover {
  color: black;
  text-decoration: none; 
}

.dropdown-menu {
  padding: 15px;
  padding-bottom: 0px;
  width: 250px;
}

/*landing page*/
.landing-img {
  width: 100%;
  height: 720px;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  margin: auto;
  overflow: auto;
  z-index: -1;
}

.landing-header {  
  margin-top: 13%;
  color: white;
  left: 0;
  top: 0;
  z-index:100;
  position: absolute;
  width: 100%;
  height: auto;
  text-align: center;
}

.landing-title {
  z-index:100;
  text-align: center;
  font-size: 90px;
  font-family: 'Yanone Kaffeesatz', serif;
  letter-spacing: 10px;
}

.landing-buttons {
  font-family: 'Raleway', serif;
  z-index:100;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  color: white;
  padding: 15px 13px 15px 13px;
  border-radius: 4px;
  letter-spacing: 1.5px;
  background-color: rgba(255, 255, 255, 0.15);
}

.landing-buttons:hover {
  color: #2d6cb1;
  text-decoration: none; 
}

.header-space1 {
  height: 100px;
}

.header-space2 {
  height: 55px;
}

.info-container {
  width: 100%
}

.info-text {
  margin-top: 4%;
  line-height: 2.5;
}

.line {
  border-top: solid 1px;
  width: 60%;
  margin-left: 20%;
  margin-right: 20%;
  color: rgba(1,1,1,0.2);
}

.landing-about {
  margin: 20%;
  margin-top : 7%;
  margin-bottom: 5%;
}

.kardiak { 
  height: auto;
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 5%;
}

.about {
  margin-top: 20%;
}

.landing-how {
  background-color: rgba(220,220,220,0.2);
  width: 100%;
  margin-top : 10%;
  margin-bottom: 250px;
  border-top: solid 1px rgba(1,1,1,0.1);
  border-bottom: solid 1px rgba(1,1,1,0.1);
}

.how {
  padding-top: 10%;
  margin-top: 10%;
  margin-left: 20%;
  margin-right: 20%;
}

.how-text {
  margin-left: 20%;
  margin-right: 20%;
  padding-bottom: 15%;
}

.footer {
  text-align: center;
  margin-top: 10px;
  font-size: 10pt;
  width:100%;
  height:15px;
}

.bottom-pad {
  height: 15px;
}

form input {
  margin-bottom: 15px;
}

.form-error {
  color: #E74C3C;
  font-size: .75em;
  display: block;
  margin: 12px 0 10px 0;
}

.formSwitch:hover {
  cursor:pointer;
  color:blue;
}

/* Navbar cursor behavior */
.navbar-header span:hover {
  cursor:default;
}

.navbar-header img:hover {
  cursor:pointer;
}

.navbar-collapse li:hover {
  cursor:pointer;
}

/* Font Awesome sizing */
.fa {
  font-size: 32px;
  width: 50px;
}

/*Documentation*/
.doc-sidebar {
  display:inline;
  float:left;
  width:35%;
  height:600px;
}

.doc-content {
  display:inline;
  float:right;
  width:64%;
  height:600px;
}

.doc-list {
  list-style-type: none;
  font-size:1.4em;
}

.doc-list:hover {
  cursor:pointer;
  font-weight:800;
}
/* NEW CLOCK CODE */

.face {
  margin:30px auto;
  border-radius:50%;
  background-color:#26a69a;
  height:100px;
  width:100px;
  position:relative;
}

.center {
  position:absolute;
  top:50%;
  left:50%;
  margin-top:-4px;
  margin-left:-4px;
  border-radius:50%;
  height:8px;
  width:8px;
  background-color:#333;
}

.seconds-hand {
  position:absolute;
  left:50%;
  top:4px;
  margin-left:-1px;
  width:2px;
  height:45px;
  background-color:#F03C3C;
  -webkit-webkit-webkit-transform-origin: bottom center;
  -moz-webkit-webkit-transform-origin: bottom center;
  -ms-webkit-webkit-transform-origin: bottom center;
  -o-webkit-webkit-transform-origin: bottom center;
  transform-origin: bottom center;
}

.minute-hand {
  position:absolute;
  left:50%;
  top:4px;
  margin-left:-2px;
  width:4px;
  height:45px;
  background-color:#333;
  -webkit-webkit-webkit-transform-origin: bottom center;
  -moz-webkit-webkit-transform-origin: bottom center;
  -ms-webkit-webkit-transform-origin: bottom center;
  -o-webkit-webkit-transform-origin: bottom center;
  transform-origin: bottom center;
}

.hour-hand {
  position:absolute;
  left:50%;
  top:50%;
  margin-left:-2px;
  margin-top:-30px;
  width:4px;
  height:30px;
  background-color:#333;
  
  -webkit-webkit-webkit-transform-origin: bottom center;
  -moz-webkit-webkit-transform-origin: bottom center;
  -ms-webkit-webkit-transform-origin: bottom center;
  -o-webkit-webkit-transform-origin: bottom center;
  transform-origin: bottom center; 
}

.smooth {
  -webkit-transition: all .1s linear;
  -moz-transition: all .1s linear;
  -ms-transition: all .1s linear;
  -o-transition: all .1s linear;
  transition: all .1s linear;
}

.api-form {
  width: 300px;
  margin: auto;
}

.keyButt {
  margin-left: auto;
  margin-right: auto;
}

.class {
  top: 50%;
  transform: translateY(-50%);
}

.chart-status {
  font-size: 18pt;
  font-weight: bold;
}

.chart-bpm {
  font-size: 15pt;
}





