html {
  position: relative;
  min-height: 100%;
}

body {
  background-color:white;
  padding:0; 
  margin:0;
}

.hidden {
  display: none;
}

#hero {
/*    background-image: url("./components/images/hero_img.jpg");*/  
    height: 500px;
    width: 100%;
    padding: 20px;
    font: #000;
}

[ng\:cloak], [ng-cloak], .ng-cloak {
  display: none !important; 
}

.dropdown-menu {
  padding: 15px;
  padding-bottom: 0px;
  width: 250px;
}

/*Landing Page*/
.welcomeTitle {
  margin-top:50px;
  text-align:center;
  font-size: 40px;
}

p.viewport {
  display:block;
  margin:auto;
  position: relative ;
  width: 90%;
  height:auto;
  margin:auto;
}

p.viewport img.fader {
  display: none ;
  /*left: 0px ;*/
  position: absolute ;
  /*top: 0px ;*/
  z-index: 2 ;
  width: 100%;
  height:auto;
  margin:auto;
}

p.viewport img.fader.show {
  
  display: block ;
  transition: opacity 500ms linear ;
}

p.viewport img.fader.fadeOut {
  opacity: 0 ;

}

p.viewport img.image {
  display: block ;
  width: 100%;
  height:auto;
  margin:auto;
}

.landingDev, .landingUser {
  display:inline;
  width:50%;
  padding: 20px;
}

.landingDev {
  background-color: #F8F8F8;
}

.landingUser {
  background-color: #D1F0FF;
}

.wrapper {
  min-height: 100%;
  height: auto;
  height: 100%;
  margin: 0 auto -20px; /* the bottom margin is the negative value of the footer's height */
}

.footer, .push {
  height: 20px;
  background-color: #CCCCCC;
  padding:5px;
}

.landing h2, .landing p {
  text-align:center;
}

.landing:hover {
  cursor:pointer;
}

.landingDev:hover {
  background-color: #E6E6E6;
}

.landingUser:hover {
  background-color: #7CD4FF;
}
/*Forms*/

form input {
  margin-bottom: 15px;
}

.form-error {
  color: #E74C3C;
  font-size: .75em;
  display: block;
  margin: 12px 0 10px 0;
}

.formSwitch:hover {
  cursor:pointer;
  color:blue;
}

/* Navbar cursor behavior */
.navbar-header span:hover {
  cursor:default;
}

.navbar-header img:hover {
  cursor:pointer;
}

.navbar-collapse li:hover {
  cursor:pointer;
}
/* Font Awesome sizing */
.fa {
  font-size: 32px;
  width: 50px;
}

/*Documentation*/
.doc-sidebar {
  display:inline;
  float:left;
  width:35%;
  height:600px;
}

.doc-content {
  display:inline;
  float:right;
  width:64%;
  height:600px;
}

.doc-list {
  list-style-type: none;
  font-size:1.4em;
}

.doc-list:hover {
  cursor:pointer;
  font-weight:800;
}
/* NEW CLOCK CODE */

.face {
  margin:30px auto;
  border-radius:50%;
  background-color:#26a69a;
  height:100px;
  width:100px;
  position:relative;
}

.center {
  position:absolute;
  top:50%;
  left:50%;
  margin-top:-4px;
  margin-left:-4px;
  border-radius:50%;
  height:8px;
  width:8px;
  background-color:#333;
}

.seconds-hand {
  position:absolute;
  left:50%;
  top:4px;
  margin-left:-1px;
  width:2px;
  height:45px;
  background-color:#F03C3C;
  -webkit-webkit-webkit-transform-origin: bottom center;
  -moz-webkit-webkit-transform-origin: bottom center;
  -ms-webkit-webkit-transform-origin: bottom center;
  -o-webkit-webkit-transform-origin: bottom center;
  transform-origin: bottom center;
}

.minute-hand {
  position:absolute;
  left:50%;
  top:4px;
  margin-left:-2px;
  width:4px;
  height:45px;
  background-color:#333;
  -webkit-webkit-webkit-transform-origin: bottom center;
  -moz-webkit-webkit-transform-origin: bottom center;
  -ms-webkit-webkit-transform-origin: bottom center;
  -o-webkit-webkit-transform-origin: bottom center;
  transform-origin: bottom center;
}

.hour-hand {
  position:absolute;
  left:50%;
  top:50%;
  margin-left:-2px;
  margin-top:-30px;
  width:4px;
  height:30px;
  background-color:#333;
  
  -webkit-webkit-webkit-transform-origin: bottom center;
  -moz-webkit-webkit-transform-origin: bottom center;
  -ms-webkit-webkit-transform-origin: bottom center;
  -o-webkit-webkit-transform-origin: bottom center;
  transform-origin: bottom center; 
}

.smooth {
  -webkit-transition: all .1s linear;
  -moz-transition: all .1s linear;
  -ms-transition: all .1s linear;
  -o-transition: all .1s linear;
  transition: all .1s linear;
}

.api-form {
  width: 300px;
  margin: auto;
}

.devButt {

}

.userButt {
  
}

.keyButt {
  margin-left: auto;
  margin-right: auto;
}
