html {
  position: relative;
  min-height: 100%;
}

body {
  padding:0; 
  margin:0;
  margin-bottom: 40px;

}

#hero {
/*    background-image: url("./components/images/hero_img.jpg");*/  
    background-color: steelblue;
    height: 500px;
    width: 100%;
    padding: 20px;
    font: #000;
}

[ng\:cloak], [ng-cloak], .ng-cloak {
  display: none !important; 
}

.dropdown-menu {
  padding: 15px;
  padding-bottom: 0px;
  width: 250px;
}

form input {
  margin-bottom: 15px;
}
