.DS_Store
.AppleDouble
.LSOverride

# Thumbnails

# Files that might appear on external disk
.Spotlight-V100
.Trashes

node_modules/
client/lib
npm-debug.log

# Floobits
.floo
.floobit
.floo
.flooignore
