

<div id='home' ng-controller="MainController">
  <div layout="horizontal" layout-align="center">
    <div  style="width: 400px;"> </div>

      <md-tabs selected="data.selectedIndex" md-theme="teal" center>
        <md-tab id="tab1" aria-controls="tab1-content">
          Home
        </md-tab>
        <md-tab id="tab3" aria-controls="tab3-content">
          Details
        </md-tab>
      </md-tabs>

    <div style="width: 400px;">
      <a href='#/signin' ng-click='signout()'>sign out</a>
    </div>
  </div>


  <div layout="horizontal" layout-align="center" id='zoomedInGraph'>
    <rickshaw-chart
      data="snippet"
      color1="red"
      color2="blue"
      renderer="renderer"
      width="400"
      height="400">
    </rickshaw-chart>
  </div>
  <div layout="horizontal" layout-align="center" id='longGraph'>
    <rickshaw-chart
    data="largerSnippet"
    color1="red"
    color2="blue"
    renderer="renderer"
    width="1000"
    height="100">
  </rickshaw-chart>
  </div>
  <!-- The timeButtons div wraps both nested divs, which are responsible for changing the clock when a user clicks a button -->
  <div class="timeButtons" ng-controller="TimeController">
    <div layout="horizontal" layout-align="center" id='dayOfWeekContainer'style="margin: 18px;">

      <md-button aria-label='' class="md-raised" id='MON' ng-click='updateDisplayTime(1); getData(time.date, time.hour, time.minute)'>MON</md-button>
      <md-button aria-label='' class="md-raised" id='TUES' ng-click='updateDisplayTime(2); getData(time.date, time.hour, time.minute)'>TUE</md-button>
      <md-button aria-label='' class="md-raised" id='WED' ng-click='updateDisplayTime(3); getData(time.date, time.hour, time.minute)'>WED</md-button>
      <md-button aria-label='' class="md-raised" id='THURS' ng-click='updateDisplayTime(4); getData(time.date, time.hour, time.minute)'>THR</md-button>
      <md-button aria-label='' class="md-raised" id='FRI' ng-click='updateDisplayTime(5); getData(time.date, time.hour, time.minute)'>FRI</md-button>
      <md-button aria-label='' class="md-raised" id='SAT' ng-click='updateDisplayTime(6); getData(time.date, time.hour, time.minute)'>SAT</md-button>
      <md-button aria-label='' class="md-raised" id='SUN' ng-click='updateDisplayTime(0); getData(time.date, time.hour, time.minute)'>SUN</md-button>
    </div>

    <div layout="horizontal" layout-align="center" style="margin: 18px;">
      <!-- First update the clock time, then send a request for new data to update graph -->
      <button ng-click="updateDisplayTime('--'); getData(time.date, time.hour, time.minute)"> -- </button>
      <button ng-click="updateDisplayTime('-'); getData(time.date, time.hour, time.minute)"> - </button>
        <span style="margin: 4px;">{{display}}</span>
      <button ng-click="updateDisplayTime('+'); getData(time.date, time.hour, time.minute)"> + </button>
      <button ng-click="updateDisplayTime('++'); getData(time.date, time.hour, time.minute)"> ++ </button>
    </div>
  </div><!-- End timeButtons wrapper div -->
</div>
