<div class="container-full analysis-container">
    <div layout="row" layout-align="center">
      <h1 class="analysis-title">ECG Analysis</h1>
    </div>

    <div layout="row" layout-align="center">
      <div class="rickshaw-container">
        <rickshaw 
          data="incoming"
          color="white"
          renderer="renderer"
          width="width"
          height="200"
        ></rickshaw>
      </div>
    </div>
</div>

<div class="container-full widget-container">

    <div layout="row">
      <md-whiteframe class="md-whiteframe-z4 square graph-widget orange">
          <div class="content">

              <div layout="row" layout-align="center">
                <h2 class="status-code-status">{{ status }}</h2>
              </div>

              <div layout="row" layout-align="center">
                <i class="fa fa-circle-o-notch fa-3x animated status-code-icon"></i>
              </div>

              <div layout="row" layout-align="center">
                <p class="widget-font">{{ statusTitle }}</p>
              </div>

          </div>
      </md-whiteframe>

      <md-whiteframe class="md-whiteframe-z4 square teal">
          <div class="content">
            <div layout="row" layout-align="center">
              <h1 class="is-live-text text-center">{{ isLive }}</h1>
            </div>
          </div>
      </md-whiteframe>

      <md-whiteframe class="md-whiteframe-z4 square graph-widget violet">
          <div class="content">
               
               <div layout="row" layout-align="center">
                <h2 class="chart-bpm">{{ bpm }}</h2>
              </div>

              <div layout="row" layout-align="center">
                <i class="fa fa-heart fa-3x animated bpm-icon"></i>
              </div>

              <div layout="row" layout-align="center">
                <p class="widget-font">{{ bpmTitle }}</p>
              </div>
          </div>
      </md-whiteframe>
    </div>
  
</div>
