<header class="navbar btn-material-red">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-warning-collapse">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <img src="/components/web/images/mainLogoTrans.png" style="float:left" ui-sref='choose'>
    <span class="navbar-brand" style="font-weight: bold; font-size: 20px;">Kardia</span>

  </div>
  <div class="navbar-collapse collapse navbar-warning-collapse" style="font-weight: bold;">
    <ul class="nav navbar-nav">
      <li ng-class="{active: isActive('developer.documentation')}" ui-sref="developer.documentation"><a>Documentation</a></li>
      <li ng-class="{active: isActive('developer.apiKeys')}" ui-sref="developer.apiKeys"><a>API</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li ng-cloak ng-show='isAuth()' ui-sref="developer.documentation"><a id="signout" ng-click='signout()'>Sign Out</a>
    </ul>
  </div>
</header><!-- nav bar -->

<div ui-view></div>