<header class="navbar btn-material-red" ng-controller="AuthController">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-warning-collapse">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a href="#/choose"><img src="/components/web/images/mainLogoTrans.png" style="float:left"></a>
    <a class="navbar-brand" href="#/documents" style="font-weight: bold; font-size: 20px;">Kardia</a>

  </div>
  <div class="navbar-collapse collapse navbar-warning-collapse" style="font-weight: bold;">
    <ul class="nav navbar-nav">
      <li ng-class="{active: isActive('developer.documents')}" ui-sref="developer.documents"><a>Documentation</a></li>
      <li ng-class="{active: isActive('developer.apiKeys')}" ui-sref="developer.apiKeys"><a>API</a></li>
    </ul>
  </div>
</header><!-- nav bar -->

<div ui-view></div>